/* Coolors Exported Palette - https://coolors.co/473637-242020-992c32-988482-212121-585958-e2e1e0-404040 */

/* CSS HEX */
--deep-mocha: #473637ff;
--shadow-grey: #242020ff;
--brown-red: #992C32ff;
--taupe: #988482ff;
--carbon-black: #212121ff;
--charcoal: #585958ff;
--alabaster-grey: #E2E1E0ff;
--gunmetal: #404040ff;

/* CSS HSL */
--deep-mocha: hsla(356, 14%, 25%, 1);
--shadow-grey: hsla(0, 6%, 13%, 1);
--brown-red: hsla(357, 55%, 39%, 1);
--taupe: hsla(5, 10%, 55%, 1);
--carbon-black: hsla(0, 0%, 13%, 1);
--charcoal: hsla(120, 1%, 35%, 1);
--alabaster-grey: hsla(30, 3%, 88%, 1);
--gunmetal: hsla(0, 0%, 25%, 1);

/* SCSS HEX */
$deep-mocha: #473637ff;
$shadow-grey: #242020ff;
$brown-red: #992C32ff;
$taupe: #988482ff;
$carbon-black: #212121ff;
$charcoal: #585958ff;
$alabaster-grey: #E2E1E0ff;
$gunmetal: #404040ff;

/* SCSS HSL */
$deep-mocha: hsla(356, 14%, 25%, 1);
$shadow-grey: hsla(0, 6%, 13%, 1);
$brown-red: hsla(357, 55%, 39%, 1);
$taupe: hsla(5, 10%, 55%, 1);
$carbon-black: hsla(0, 0%, 13%, 1);
$charcoal: hsla(120, 1%, 35%, 1);
$alabaster-grey: hsla(30, 3%, 88%, 1);
$gunmetal: hsla(0, 0%, 25%, 1);

/* SCSS RGB */
$deep-mocha: rgba(71, 54, 55, 1);
$shadow-grey: rgba(36, 32, 32, 1);
$brown-red: rgba(153, 44, 50, 1);
$taupe: rgba(152, 132, 130, 1);
$carbon-black: rgba(33, 33, 33, 1);
$charcoal: rgba(88, 89, 88, 1);
$alabaster-grey: rgba(226, 225, 224, 1);
$gunmetal: rgba(64, 64, 64, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #473637ff, #242020ff, #992C32ff, #988482ff, #212121ff, #585958ff, #E2E1E0ff, #404040ff);
$gradient-right: linear-gradient(90deg, #473637ff, #242020ff, #992C32ff, #988482ff, #212121ff, #585958ff, #E2E1E0ff, #404040ff);
$gradient-bottom: linear-gradient(180deg, #473637ff, #242020ff, #992C32ff, #988482ff, #212121ff, #585958ff, #E2E1E0ff, #404040ff);
$gradient-left: linear-gradient(270deg, #473637ff, #242020ff, #992C32ff, #988482ff, #212121ff, #585958ff, #E2E1E0ff, #404040ff);
$gradient-top-right: linear-gradient(45deg, #473637ff, #242020ff, #992C32ff, #988482ff, #212121ff, #585958ff, #E2E1E0ff, #404040ff);
$gradient-bottom-right: linear-gradient(135deg, #473637ff, #242020ff, #992C32ff, #988482ff, #212121ff, #585958ff, #E2E1E0ff, #404040ff);
$gradient-top-left: linear-gradient(225deg, #473637ff, #242020ff, #992C32ff, #988482ff, #212121ff, #585958ff, #E2E1E0ff, #404040ff);
$gradient-bottom-left: linear-gradient(315deg, #473637ff, #242020ff, #992C32ff, #988482ff, #212121ff, #585958ff, #E2E1E0ff, #404040ff);
$gradient-radial: radial-gradient(#473637ff, #242020ff, #992C32ff, #988482ff, #212121ff, #585958ff, #E2E1E0ff, #404040ff);