@font-face {
    font-family: "FunnelDisplay";
    src: url("/assets/fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900; 
    font-style: normal; 
    font-display: swap;
}
@font-face {
    font-family: "FunnelSans";
    src: url("/assets/fonts/Funnel_Sans/FunnelSans-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900; 
    font-style: italic; 
    font-display: swap;
}
@font-face {
    font-family: "FunnelSans";
    src: url("/assets/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900; 
    font-style: normal; 
    font-display: swap;
}

