@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/cerberus'; 

@theme inline {
    --font-sans: "FunnelSans", sans-serif;
    --font-display: "FunnelDisplay", sans-serif;
}

.scrollbarHide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}
.scrollbarHide::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}

pre {
    overflow-x: scroll;
}
