@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/cerberus'; 

@theme inline {
    --font-sans: "FunnelSans", sans-serif;
    --font-display: "FunnelDisplay", sans-serif;
}

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

:root {

    --color-success-50:oklch(95.46% .05 135.76);
    --color-success-100:oklch(90.63% .09 136.23);
    --color-success-200:oklch(86.02% .14 136.64);
    --color-success-300:oklch(81.71% .18 137.18);
    --color-success-400:oklch(77.74% .21 138.01);
    --color-success-500:oklch(74.17% .23 139.28);
    --color-success-600:oklch(67.56% .21 139.23);
    --color-success-700:oklch(61.07% .19 139.23);
    --color-success-800:oklch(54.16% .16 139.07);
    --color-success-900:oklch(47.27% .14 139.07);
    --color-success-950:oklch(39.83% .12 139.03);
    --color-warning-50:oklch(97.2% .03 94.02);
    --color-warning-100:oklch(94.07% .07 92.41);
    --color-warning-200:oklch(91.26% .1 92.56);
    --color-warning-300:oklch(88.49% .13 90.94);
    --color-warning-400:oklch(85.95% .15 90.22);
    --color-warning-500:oklch(83.38% .16 87.97);
    --color-warning-600:oklch(76.76% .15 88.43);
    --color-warning-700:oklch(70% .13 89.01);
    --color-warning-800:oklch(63.39% .12 89.83);
    --color-warning-900:oklch(56.27% .11 90.82);
    --color-warning-950:oklch(48.93% .09 92.19);
    --color-error-50:oklch(91.53% .03 354.83);
    --color-error-100:oklch(82.96% .06 357.86);
    --color-error-200:oklch(74.51% .09 359.04);
    --color-error-300:oklch(66.39% .12 1.65);
    --color-error-400:oklch(58.7% .15 3.98);
    --color-error-500:oklch(51.95% .17 8.24);
    --color-error-600:oklch(47.94% .16 8.02);
    --color-error-700:oklch(44.05% .15 7.39);
    --color-error-800:oklch(39.86% .13 7);
    --color-error-900:oklch(35.77% .12 6.01);
    --color-error-950:oklch(31.35% .1 5.2);

  /* Base */
  --theme-red: #C5050C;

  /* Lighter tints */
  --theme-red-50:  #F9E5E6;
  --theme-red-100: #F2BFC1;
  --theme-red-200: #E9999B;
  --theme-red-300: #E07375;
  --theme-red-400: #D74D4F;

  /* Base (500) */
  --theme-red-500: #C5050C;

  /* Darker shades */
  --theme-red-600: #A40409;
  --theme-red-700: #830307;
  --theme-red-800: #620205;
  --theme-red-900: #410103;

  /* Alpha variants */
  --theme-red-a10: rgba(197, 5, 12, 0.10);
  --theme-red-a25: rgba(197, 5, 12, 0.25);
  --theme-red-a50: rgba(197, 5, 12, 0.50);
  --theme-red-a75: rgba(197, 5, 12, 0.75);
}

.scrollbarHide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}
.scrollbarHide::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}

pre {
    overflow-x: scroll;
}

.globalSearchSnip .searchmatch {
    background-color: #7297a9;
}
