---
Title: Fall 2026 Meeting Dates and Open Shack
Published: 2026-08-19 20:00
Author: Will Standard
ProfileTag: Standaert
Excerpt: Fall 2026 meeting dates and open shack times!

---


Based on the availability that I got in the poll, meetings for the fall semester will be held on Tuesdays twice a month from 6-8pm.

This year we are also trying a different schedule that has been done in the past. 
Regular meetings will be held on the second and fourth Tuesday of each month. On weeks without a regular meeting, 
we will be having an open shack time at the same times that regular meetings would be.

I look forward to seeing you at our kickoff meeting on September 8th. I will post some more information as the date approaches. 

For more information, see our [getting started](/getting-started/) page.

73s from KE9CMP.
