---
Title: Welcome new BARS officers for the ’21-’22 academic year!
Published: 2021-03-16 09:30
Author: Alex Bouvy
Excerpt: Congratulations to the new BARS officers for the ’21-’22 academic year!

---

Congratulations to the new BARS officers for the ’21-’22 academic year!

* President – Alex Rodgers;
* Vice President – Alex Bouvy;
* Treasurer – Kyle Daruwalla;
* Chief Engineer – Diana Kraemer;
